@charset "UTF-8";

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
p{
  font-size: 20px;
  color: #00ff00;
}
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
p{
  font-size: 20px;
  color: #00ff00;
}
}